/*body {
  background-image: url('images/skelatal_weave_green.png');
  font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
}*/

.navbar-brand {
  padding: 5px 0px;
}

.navbar-brand > img {
  width: auto;
  max-height: 65px;
}